.HomeContainer {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 67vh;
  max-height: 100vh;
}

@media screen and (max-width: 768px) {
  .HomeContainer {
    background-image: url('../images/background-media.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.WelcomeMain {
  padding-top: 20vh;
  color: white;
}

.SignIn,
.SignUp {
  margin: 0 5px;
}

.SignIn a,
.SignUp a {
  color: white;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 30px;
}
