.HomeContainer {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .HomeContainer {
    background-image: url('../images/background-media.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}

.WelcomeMain {
  padding-top: 25vh;
  color: white;
}

.MusicByteLogo {
  width: 35vh;
  max-width: 18.25rem;
  max-height: 6rem;
}

.SignContainer {
  padding: 3vh 2vh !important;
  background-color: rgba(17, 17, 22, 0.5);
}

.SignLogoContainer,
.SignTitleContainer,
.SignButtonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.SignIn,
.SignUp {
  margin: 0 5px;
}

.SignIn a,
.SignUp a {
  color: white;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 20px;
}

.Copyright {
  text-align: center;
}
