.IntroductionContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}

.IntroductionContainer h3 {
  font-weight: 800;
}

.Slides {
  min-height: 20rem;
  max-height: 20rem;
}
