.SigninContainer {
  color: white;
  background-image: url('../images/background-signIn.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SignFormContainer {
  background-color: rgba(17, 17, 22, 0.5);
  padding: 2.5vh;
}

.SigninContainer h1 {
  font-weight: 800;
}

.TextField {
  margin-top: 2vh !important;
}

.SignInLoginPage {
  margin-top: 2vh !important;
}

.SignInOption,
.SignInOption p {
  margin-top: 0.5vh;
  text-shadow: 2px 2px 5px #111116;
}

.SignInOptionLink:hover {
  color: #15a2b8;
}
