body {
  background-color: #202020 !important;
}

.LogoContainer {
  display: flex;
  justify-content: center;
}

.MainLogo {
  margin-top: 1vh;
  width: 25rem;
}

.MainContainer {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.UserButton {
  display: flex;
  justify-content: center;
}

.UserButton button {
  background: none;
  border: none;
  color: white;
  width: 11.5rem;
  border: 2px solid #3e51b5;
  border-radius: 15px;
  margin-left: 3px;
  margin-right: 3px;
}

.UserButton button:hover {
  background: none;
  border: none;
  color: white;
  width: 11.5rem;
  border: 2px solid #e91e63;
  background: #e91e63;
  border-radius: 15px;
  margin-left: 3px;
  margin-right: 3px;
  transition: 0.5s;
}

.FakeCards {
  width: 45vh;
  margin-top: -35px;
  padding: 0;
}

.CardData {
  background-color: #202020;
  opacity: 0.75;
  left: 0 !important;
  right: 0 !important;
}

.InterestButton {
  display: flex;
  justify-content: center;
}

.InterestButton button {
  background: none;
  border: none;
}

.InterestButton i {
  margin-top: 1.5vh;
  padding-top: 5px;
  border: 2px solid;
  border-radius: 25px;
  width: 17rem;
  color: #3e51b5;
  transition: 0.5s;
}

.InterestButton i:hover {
  border: 2px solid;
  border-radius: 25 px;
  width: 22.5rem;
  color: white;
  background-color: #e91e63;
  border-color: #e91e63;
  transition: 1s;
}
