.OpeningContainer {
  background-image: url(../images/background-opening.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.OpeningContainer h1 {
  color: white;
  font-size: 5vh;
  font-weight: 800;
  text-align: center;
}

.OpeningArticle {
  margin-top: 65vh;
  display: flex;
  justify-content: center;
  background-color: rgba(17, 17, 22, 0.5);
  padding-top: 3vh;
}

.OpeningArticle img {
  width: 40rem;
  max-width: 50vh;
  max-height: 15vh;
}

.OpeningButtons {
  display: flex;
  justify-content: center;
  background-color: rgba(17, 17, 22, 0.5);
  padding-bottom: 3vh;
}

.HomeButton {
  margin-right: 10px;
}
