.SignUpContainer {
  color: white;
  background-image: url('../images/background-signUp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.SignUpCOntainer h1 {
  font-weight: 800;
}

.TextField {
  margin-top: 5px !important;
}

.SignUpForm {
  background-color: rgba(17, 17, 22, 0.5);
  padding: 1rem 3rem;
}

.FirstName {
  margin-top: 10px;
  margin-right: 5px;
}

.LastName {
  margin-top: 10px;
  margin-left: 5px;
}

.SignUpOption {
  margin-top: 0.5vh;
  text-shadow: 2px 2px 10px #111116;
}

.SignUpOptionLink:hover {
  color: #15a2b8;
}
