.TeamContainer {
  margin-top: 5vh;
  text-align: center;
}

.TeamContainer h3 {
  color: white;
  font-weight: 800;
  margin-bottom: 10px;
}

.CardContainer {
  display: flex;
  justify-content: center;
}

.TeamCard {
  color: white;
  max-width: 18rem;
  margin: 10px;
}

.CardTitle {
  font-weight: 800 !important;
}

.JobTitle {
  opacity: 0.5;
}
