.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0px;
  padding: 0px;
}

.myPage {
  background-image: url('./assets/img/mainpage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-filter: sepia(70%);
  /* Safari 6.0 - 9.0 */
  filter: sepia(70%);
}

.myContact {
  background-image: url('./assets/img/contactUsSame.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* -webkit-filter: sepia(70%);
  /* Safari 6.0 - 9.0 */
  /* filter: sepia(70%); */

}

.MyAbout {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}